.arrow {
  margin-top: 20px;
  box-sizing: border-box;
  height: 5vw;
  width: 5vw;
  border-style: solid;
  border-color: white;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
}

.arrow:hover {
  border-bottom-width: 4px;
  border-right-width: 4px;
}

/* .header {
    background-color: #99e5e5;
    background-image: url('ventus_splash_top.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
} */

body {
  font-family: 'Varela Round', sans-serif;
}

.splash {
  /* background-color: #61dafb; */
  background-color: #99e5e5;
  color: black;
  /* background-image: url('ventus_splash_top.png'), url('ventus_splash_bottom.png'); */
  background-repeat: no-repeat, no-repeat;
  /* background-attachment: fixed; */
  background-position: center top, center bottom;
  /* padding-top: 250px; */
  /* background-size: 80%; */
  height: 100vh;
  /* padding-left: 50px; */

}

.splash * {
  margin: 0;
}

.splash h1 {
  padding-top: 50px;
  padding-left: 50px;
  padding-bottom: 25px;
  font-size: 3em;
}

.splash h2 {
  /* padding-top: 50px; */
  padding-left: 50px;
  padding-bottom: 25px;
}

.login {
  padding-left: 50px;
}

.login-button {
  margin-top: 10px;
  padding: 5px;
  display: block;
  border-radius: 8px;
}
